---
layout: default
---

{% include slider.html %}

<!-- Content -->
<div class="block">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <section class="events small" id="events-small">
          <header>
            <h2>Important dates</h2>
          </header>
          <div class="section-content">
            <article class="event nearest">
              <figure class="date">
                <div class="month">mar</div>
                <div class="day">21</div>
              </figure>
              <aside>
                <header>
                  <!-- <strike>Paper submission deadline</strike> -->
                  Abstract submission deadline
                </header>
              </aside>
            </article><!-- /article -->
            <br>
            <article class="event nearest">
              <figure class="date">
                <div class="month">mar</div>
                <div class="day">28</div>
              </figure>
              <aside>
                <header>
                  <!-- <strike>Paper submission deadline</strike> -->
                  Paper submission deadline
                </header>
              </aside>
            </article><!-- /article -->
            <br>
            <article class="event nearest">
              <figure class="date">
                <div class="month">may</div>
                <div class="day">9</div>
              </figure>
              <aside>
                <header>
                  Author Notification
                </header>
              </aside>
            </article>
            <br>
            <article class="event nearest">
              <figure class="date">
                <div class="month">May</div>
                <div class="day">23</div>
              </figure>
              <aside>
                <header>
                  Camera ready deadline
                </header>
              </aside>
            </article>
            <br>
            <article class="event nearest-second">
              <figure class="date">
                <div class="month">June</div>
                <div class="day">3</div>
              </figure>
              <aside>
                <header>
                  One day event
                </header>
              </aside>
            </article>
            <br>
          </div><!-- /.section-content -->
        </section><!-- /.events-small -->
        <br />

        <section class="events small" id="events-small">
          <!-- <header>
            <h2>Useful Links</h2>
          </header>
          <div class="section-content">
            <ul class="list-links">
              <li>
                <h4><a href="registration.html">Symposium registration</a></h4>
              </li>
              <li>
                <h4><a href="schedule.html">Schedule</a></h4>
              </li>
              <li>
                <h4><a href="keynotes.html">Keynote</a></h4>
              </li>
              <li>
                <h4><a href="location.html">Location</a></h4>
              </li>
              <li>
                <h4><a href="accommodation.html">Accommodation</a></h4>
              </li>
            </ul>
          </div> -->
        </section>
      </div><!-- /.col-md-3 -->

      <div class="col-md-6">
        <section id="main-content">
          <div class="section-content">

            <header>
              <h2>Updates in Relation to COVID-19</h2>
            </header>
            <p>
            We plan for FAB'22 to be a primarily in-person event, with an option to attend remotely via streaming. We reserve the right
            to make necessary changes to the format as the health situation changes.
            </p>


            <header>
              <h2>Fifth International Symposium on Foundations and Applications of
                Blockchain 2022 (FAB'22)</h2>
            </header>
            <p>
              Blockchain - the technology behind Bitcoin - is flourishing into an impressive spectrum of research
              projects and initiatives,
              corporate alliances, and startup companies. This multidisciplinary effort spans diverse disciplines
              ranging from Computer Science and Engineering
              to Communications, Social Sciences, Public Policy, Banking and Finance, Journalism, and Political Sciences
              to name a few.
              This one-day event strives to bring researchers and practitioners of blockchain together to share and
              exchange results.
              We are interested in papers and presentations on a broad range of topics including:
            </p>

            {% include topics.html %}

            <meta name="twitter:card" content="summary_large_image" />
            <meta name="twitter:site" content="@msadoghi" />
            <meta name="twitter:creator" content="@msadoghi" />
            <meta name="twitter:title" content="Symposium on
Foundations and Applications of Blockchain 2022 (FAB '22)" />
            <meta name="twitter:description" content="The FAB '22 symposium is
planned to be held in Berkeley on June 3rd.  This one day event
strives to bring researchers and practitioners of blockchain together
to share and exchange results." />
            <meta name="twitter:image" content="https://scfab.github.io/2021/assets/img21/kemper.jpg" />

          </div><!-- /.section-content -->
        </section><!-- /.main-content -->
      </div><!-- /.col-md-6 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</div>
<!-- end Content -->
