---
layout: default
---

{% include slider.html %}

<!-- Content -->
<div class="block">
 <div class="container">
  <div class="row">
  <!--MAIN Content-->
   <div class="col-md-9">
    <div id="page-main">
     <section id="members">
      <header><h1>Organizing Committee</h1></header>
      <section id="steering-committee">
          <div class="row">
          <div class="col-md-6">
          <header>
              <h2  class="no-divider">
                  Steering Committee
              </h2>
          </header>          
<!--
         {% 
            include author-block-no-padding.html
            link="http://perspolis.usc.edu/Users/shahram/" name="Shahram
            Ghandeharizadeh" org="University of Southern California" 
         %} 
-->
         {%
            include author-block-no-padding.html
            link="http://ceng.usc.edu/~bkrishna/"
            name="Bhaskar Krishnamachari"
            org="University of Southern
            California" 
        %}
        {%
            include author-block-no-padding.html
            link="http://nawab.me"
            name="Faisal Nawab"
            org="University of California, Irvine" 
        %}
        {%
            include author-block-no-padding.html
            link="https://expolab.org/"
            name="Mohammad Sadoghi"
            org="University of California, Davis" 
        %}

          </div>

          </div>
      </section>
      <section id="program-chairs">
       <header><h2 class="no-divider">Program Chair</h2></header>
       <div class="row">
       <div class="col-md-6">
         {% include author-block-no-padding.html
         link="https://www3.cs.stonybrook.edu/~amiri/" name="Mohammad Javad Amiri"
         org="Stony Brook University"
           %}
       </div>
       </div>
     </section>

     </section><!-- /#members -->
    </div><!-- /#page-main -->
   </div><!-- /.col-md-6 -->
  </div><!-- /.row -->
 </div><!-- /.container -->
</div>
<!-- end Content -->
