---
layout: default
---

{% include slider.html %}

<!-- Content -->
<div class="block">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <section class="events small" id="events-small">
          <header>
            <h2>Important dates</h2>
          </header>

  <article class="event nearest">
              <figure class="date">
                <div class="month">June</div>
                <div class="day">14</div>
              </figure>
              <aside>
                <header>
                  <!-- <strike>Paper submission deadline</strike> -->
                  Abstract submission deadline
                </header>
              </aside>
            </article><!-- /article -->
            <br>
            <article class="event nearest">
              <figure class="date">
                <div class="month">June</div>
                <div class="day">21</div>
              </figure>
              <aside>
                <header>
                  <!-- <strike>Paper submission deadline</strike> -->
                  Paper submission deadline
                </header>
              </aside>
            </article><!-- /article -->
	    <br>
           
          <div class="section-content">
       
            <article class="event nearest">
              <figure class="date">
                <div class="month">July</div>
                <div class="day">19</div>
              </figure>
              <aside>
                <header>
                  Author notification
                </header>
              </aside>
            </article>
            <br>
            <article class="event nearest">
              <figure class="date">
                <div class="month">August</div>
                <div class="day">2</div>
              </figure>
              <aside>
                <header>
                  Camera ready deadline
                </header>
              </aside>
            </article>
            <br>
            <article class="event nearest-second">
              <figure class="date">
                <div class="month">August</div>
                <div class="day">30</div>
              </figure>
              <aside>
                <header>
                  One day event
                </header>
              </aside>
            </article>
            <br>
          </div><!-- /.section-content -->
        </section><!-- /.events-small -->
        <br />
        <section class="events small" id="events-small">
          <header>
            <h2>Links</h2>
          </header>
          <div class="section-content">
            <ul class="list-links">
              <li>
                <h4><a href="#submission">Submission categories</a></h4>
              </li>
              <li>
                <h4><a href="#guidelines">Submission guidelines</a></h4>
              </li>
            </ul>
          </div><!-- /.section-content -->
        </section><!-- /.events-small -->
      </div><!-- /.col-md-3 -->

      <div class="col-md-6">
        <section id="main-content">
          <header>
            <h1>Call for papers</h1>
          </header>
          <div class="section-content">
            <p>
              Blockchain - the technology behind Bitcoin - is flourishing into an impressive spectrum of research
              projects and initiatives,
              corporate alliances, and startup companies. This multidisciplinary effort spans diverse disciplines
              ranging from Computer Science and Engineering
              to Communications, Social Sciences, Public Policy, Banking and Finance, Journalism, and Political Sciences
              to name a few.
              This one-day event strives to bring researchers and practitioners of blockchain together to share and
              exchange results.
              We are interested in papers and presentations on a broad range of topics including:
            </p>

            {% include topics.html %}

            <a id="submit">
              <h2>Submission site</h2>
            </a>
            <p>
              Papers must meet the following formatting rules and be submitted to <b>HotCRP</b> at: <br>
            </p>
            <h4>
              <a href="https://fab22.hotcrp.com/" target="_blank"
                style="text-decoration:underline;">
                Link
              </a>
            </h4>
            <a id="submission">
              <h2>Submission categories</h2>
            </a>
            <p>All papers must be original and not simultaneously submitted to another journal or conference. The
              following paper categories are welcome. Authors can submit a paper in one of the following categories:
            </p>
            <ul class="topics-list">
              <li><b>Research Papers</b> describe research work in the broad area of blockchain. We solicit both regular
                papers
                (up to 16 pages in OASIcs format) and short papers (up to 8 pages in OASIcs format). The former will
                tend to be descriptions of complete technical work, while the latter will tend to be descriptions of
                interesting, innovative ideas, which nevertheless require more work to mature. For short papers, we also
                encourage submissions that put previously published work in a new light or describe extensions of
                previously published work by the authors. These limits exclude references and appendices.

              </li>
              <li><b>Industrial Papers</b> describing experiences with the deployed and state-of-the-art blockchain
                systems. These papers can also be either regular papers (up to 16 pages in OASIcs format) or short
                papers (up to 8 pages in OASIcs format).
              </li>
              <li><b>Posters</b>. Researchers and practitioners wishing to showcase and get feedback on work that is in
                an early stage, and hence not yet ready for publication as a paper, are invited to submit a 1-page
                proposal for a poster. All accepted papers are encouraged to showcase a poster, too.
              </li>
            <li><b>SOK Papers</b>. For the first time this year, we solicit systematization of knowledge (SoK) papers that evaluate, 
                systematize, and contexutualize existing knowledge, as such papers can provide high added value to our community. Suitable papers
                are those that provide an important new viewpoint on an established, major research area, or present a convincing new taxonomony
                of an established or emerging area. Survey papers without such insights are not appropriate. Titles should contain the prefix "SoK" in the title and
                check the appropriate box on the submission form. SoK papers are held to the same standards as research papers, but they will be considered based on
                their treatment of existing work and value to the community, rather than on any new research results they maycontain. 
            </li>
             </ul>
            <p>
              All submissions will be held to a high-quality standard and evaluated based on their originality,
              technical merit, topical relevance, value to the community, and the likelihood of leading to insightful
              discussions. Submissions will be kept confidential. On rare occasions, regular paper submissions may be
              accepted as short papers (pending authors’ approval and significant shortening).<br><br>
            </p>


            <a id="guidelines">
              <h2>Submission guidelines:</h2>
            </a>
            <p>
              Papers must meet the following formatting rules and be submitted to <b>HotCRP</b> at: <br>
            <h4><a href="https://fab22.hotcrp.com/" target="_blank"
                style="text-decoration:underline;">
                Link
              </a></h4>
            </p>
            <h3>Paper format & fonts</h3>
            <p>
              in order to be considered for publication. They should be submitted in PDF format and formatted using the
              OpenAccess Series in Informatics (OASIcs) LaTeX template available at
            <h4><a href="https://submission.dagstuhl.de/documentation/authors" target="_blank"
                style="text-decoration:underline;">
                Link
              </a></h4>
            </p>
            <ul class="topics-list">
              <li>Judicious use of color is permitted, but please bear in mind that not everybody has access to a color
                printer, and some people cannot distinguish some colors. Figures should be clear when printed in black &
                white.
              <li>Symbols and axis labels used in graphs should be legible as printed, and not require magnification.
              </li>
              <li>Following the list of author names and affiliations on the first page, submissions should include a
                line that specifies the paper’s "type" (research, industrial, or poster) and "length" (regular or
                short).
              </li>
            </ul>
            <a id="submit">
              <h2>Publication</h2>
            </a>
            <p>
              All accepted regular papers will be published open access.
              Authors will keep their copyright and papers will be published online under a Creative Commons CC BY license.
            </p>

            <a id="submit">
              <h2>Contact:</h2>
            </a>
            <p>
<!--              <h4>General Chair - Natacha Crooks <h4> <a href="mailto:ncrooks@berkeley.edu">ncrooks@berkeley.edu</a>-->
              <h4>Program Chair - Mohammad Javad Amiri</h4> <a href="mailto:amiri@cs.stonybrook.edu">amiri@cs.stonybrook.edu</a>
            </p>


          </div><!-- /.section-content -->
        </section><!-- /.main-content -->
      </div><!-- /.col-md-6 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</div>
<!-- end Content -->
