---
layout: default
---

{% include slider.html %}

<!-- Content -->
<div class="block">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <section class="events small" id="events-small">
          <header>
            <h2>Important dates</h2>
          </header>
<!--
  <article class="event nearest">
              <figure class="date">
                <div class="month">June</div>
                <div class="day">14</div>
              </figure>
              <aside>
                <header>
                  Abstract submission deadline
                </header>
              </aside>
            </article> /article 
            <br>
-->
            <article class="event nearest">
              <figure class="date">
                <div class="month">June</div>
                <div class="day">28</div>
              </figure>
              <aside>
                <header>
                  <!-- <strike>Paper submission deadline</strike> -->
                  Paper submission deadline
                </header>
              </aside>
            </article><!-- /article -->
	    <br>
           
          <div class="section-content">
       
            <article class="event nearest">
              <figure class="date">
                <div class="month">July</div>
                <div class="day">19</div>
              </figure>
              <aside>
                <header>
                  Author notification
                </header>
              </aside>
            </article>
            <br>
            <article class="event nearest">
              <figure class="date">
                <div class="month">August</div>
                <div class="day">2</div>
              </figure>
              <aside>
                <header>
                  Camera ready deadline
                </header>
              </aside>
            </article>
            <br>
            <article class="event nearest-second">
              <figure class="date">
                <div class="month">August</div>
                <div class="day">30</div>
              </figure>
              <aside>
                <header>
                  One day event
                </header>
              </aside>
            </article>
            <br>
          </div><!-- /.section-content -->
        </section><!-- /.events-small -->
        <br />
          
      </div><!-- /.col-md-3 -->

      <div class="col-md-6">
        <section id="main-content">
          <header>
            <h1>Call for papers</h1>
          </header>
          <div class="section-content">
            <p>
              Blockchain - the technology behind Bitcoin - is flourishing into an impressive spectrum of research
              projects and initiatives,
              corporate alliances, and startup companies. This multidisciplinary effort spans diverse disciplines
              ranging from Computer Science and Engineering
              to Communications, Social Sciences, Public Policy, Banking and Finance, Journalism, and Political Sciences
              to name a few.
              This one-day event strives to bring researchers and practitioners of blockchain together to share and
              exchange results.
              We are interested in papers and presentations on a broad range of topics including:
            </p>

            {% include topics.html %}


            <a id="submission">
              <h2>Research Papers Submission</h2>
            </a>
            <p style="text-align:justify;">
            All research papers must meet the following formatting rules and be submitted to <b>CMT</b> at:
            <a href="https://cmt3.research.microsoft.com/FAB2024" target="_blank" style="text-decoration:underline;">https://cmt3.research.microsoft.com/FAB2024</a>
            </p>
              
            <p style="text-align:justify;">
            All papers must be original and not simultaneously submitted to another journal or conference. 
            Research Papers describe research work in the broad area of blockchain. We solicit both regular
            papers (up to <strong>8 pages</strong> in ACM format) and short papers (up to <strong>4 pages</strong> in ACM format).
            The former will tend to be descriptions of complete technical work, while the latter will tend to be descriptions of
            interesting, innovative ideas, which nevertheless require more work to mature. For short papers, we also
            encourage submissions that put previously published work in a new light or describe extensions of
            previously published work by the authors. These limits exclude references and appendices.
            </p>
            <p style="text-align:justify;">
            All submissions will be held to a high-quality standard and evaluated based on their originality,
            technical merit, topical relevance, value to the community, and the likelihood of leading to insightful
            discussions. Submissions will be kept confidential. On rare occasions, regular paper submissions may be
            accepted as short papers (pending authors’ approval and significant shortening).
            </p>              
            <p style="text-align:justify;">
            In order to be considered for publication. They should be submitted in PDF format and formatted using the
            ACM LaTeX template available at
            <a href="https://www.acm.org/publications/proceedings-template" target="_blank" style="text-decoration:underline;">Link</a>.
            </p>  
            <p style="text-align:justify;">
            All accepted papers will be published open access.
            Authors will keep their copyright and papers will be published online under a Creative Commons CC BY license.
            Short papers have the option to opt out of the workshop proceedings in case the authors would like to save their work-in-progress for publication at conferences.
            </p>    
            <p style="text-align:justify;">
            If you have any questions, please contact Mohammad Javad Amiri (<a href="mailto:amiri@cs.stonybrook.edu">amiri@cs.stonybrook.edu</a>).
            </p>


          </div><!-- /.section-content -->
        </section><!-- /.main-content -->
      </div><!-- /.col-md-6 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</div>
<!-- end Content -->
