---
layout: default
---

{% include slider.html %}

<!-- Content -->
<div class="block">
  <div class="container">
    <div class="row">
      <!--MAIN Content-->
      <div class="col-md-9">
        <div id="page-main">
          <section id="members">
            <header>
              <h1>Program Committee</h1>
            </header>
            <section id="program-chairs">
              <header>
                <h2 class="no-divider">Program chair</h2>
              </header>
              <div class="row">
                <div class="col-md-6">
                  {% include author-block-no-padding.html link="https://www3.cs.stonybrook.edu/~amiri/"
                  name="Mohammad Javad Amiri" org="Stony Brook University" %}
                </div>
              </div>
            </section>
            <!-- /#program-chairs -->
           <section >
              <header>
                <h2 class="no-divider">Program committee</h2>
              </header>
              <div class="row">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-12 text-left">
                      <ul class="text-left" style="display:inline-block;vertical-align:middle;">
<!--
                        <li> Emmannuelle Anceaume, CNRS, Inria, IRISA, France</li>
                        <li> Rida Bazzi, Arizona State University, USA  </li>
                        <li> Alysson Bessani, Unversidade de Lisboa, Portugal</li>
                        <li> Silvia Bonomi, University of Rome La Sapienza, Italy </li>
                        <li> Quentin Bramas, University of Strasbourg, France</li>
                        <li> Zaynah Dargaye, Nomadic Labs, France </li>
                        <li> Nour El Madhoun, EPITA and Sorbonne University, France</li>
                        <li> Ghassan Karame, Ruhr-University Bochum, Germany</li>
                        <li> Chryssis Georgiou, University of Cyprus, Cyprus </li>
                        <li> Arthur Gervais, Imperial College, UK</li>
                        <li> Vincent Gramoli, The University of Sydney and EPFL, Switzerland/Australia </li>
                        <li> Suyash Gupta, UC Berkeley, USA </li>
                        <li> Mario Larangeira, IOHK, Tokyo Institute of Technology, Japan </li>
                        <li> Qinghua Lu, Data 61 of CSIRO, Australia</li>
                        <li> Victor Luchangco, Algorand, USA </li>
                        <li> Catherine Mulligan, Universidade de Lisboa, Portugal </li>
                        <li> Fernando Pedone, University of Lugano, Switzerland </li>
                        <li> Laura Ricci, University of Pisa, Italy</li>
                        <li> Faisal Nawab, University of California, Irvine, USA </li>
                        <li> Mo Sadoghi, UC Davis, USA</li>
                        <li> Alberto Sonnino, Novi, USA</li>
                        <li> Jiangshan Yu, Monash Universtiy, Australia </li>
-->
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <!-- /#program-committee-->
          <!-- /#members -->
        </div>
        <!-- /#page-main -->
      </div>
      <!-- /.col-md-6 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>
<!-- end Content -->
