<div class="row">
  <div class="col-md-6" style="padding-left:0; padding-right:0;">
     <a href="https://gocoin.com/" target="_blank" rel="nofollow"><img
         alt="https://gocoin.com/" border="0"
         src="assets/img/gc_logo_horizontal.png" style="border:0px
         currentColor" width="90%" /></a>
  </div>
  <div class="col-md-6" style="padding-left:0; padding-right:0;">
     <a href="https://cofound.it/" target="_blank" rel="nofollow"><img
         alt="https://cofound.it/" border="0"
         src="assets/img/logo_cofoundit.png" style="border:0px
         currentColor" width="100%" /></a>
  </div>
</div>
