<!-- Footer -->
<footer id="page-footer">
  <section id="footer-top">
    <div class="container">
      <div class="footer-inner">
        <div class="footer-social">
          <!--<figure>Follow us:</figure>-->
          <div class="icons">
            <!--<a href="https://twitter.com/ACMSoCC2016"><i class="fa fa-twitter"></i></a>
            <a href="https://www.facebook.com/socc2016"><i class="fa fa-facebook"></i></a> -->
          </div><!-- /.icons -->
        </div><!-- /.social -->
      </div><!-- /.footer-inner -->
    </div><!-- /.container -->
  </section><!-- /#footer-top -->

  <section id="footer-bottom">
    <div class="container">
      <div class="footer-inner">
        <div class="copyright" style="text-align: right;">
<!--
          <div style="min-width:300px; width:26%;margin-left: auto; text-align: left;">Sponsors:</div>
	  <a class="footer-col" href="https://ethereum.org/en/foundation/">
            <img src="assets/img22/ethererum.jpg" alt="Ethereum" style="margin-left:10px; min-width:150px; width:13%;">
          </a>
          <a class="footer-col" href="https://rdi.berkeley.edu/">
            <img src="assets/img22/rdi_logo.jpg" alt="RDI" style="margin-left:10px; min-width:150px; width:15%;">
          </a>
          <a class="footer-col" href="https://www.algorand.com/">
            <img src="assets/img22/algorand.jpg" alt="Algorand" style="margin-left:10px;min-width:150px; width:13%;">
          </a>
	  <a class="footer-col" href="https://protocol.ai/">
            <img src="assets/img22/protocol-labs.jpg" alt="Protocol Labs" style="margin-left:10px; min-width:150px; width:13%;">
          </a>
         
-->
</div> /.copyright
      </div><!-- /.footer-inner -->
    </div><!-- /.container -->
  </section><!-- /#footer-bottom -->

</footer>
<!-- end Footer -->
