<!-- Header -->
<div class="navigation-wrapper">
  <div class="branding">
    <div class="container">
      <div class="pull-right">
        <div class="reset-box-sizing fab-search">
          {% include search-google.html %}
        </div>
      </div><!-- /.pull-right -->
    </div>
  </div>

  <div class="primary-navigation-wrapper">
    <header class="navbar" id="top" role="banner">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse navbar-left" role="navigation">
          <ul class="nav navbar-nav">
            <li class="active">
              <a href="index.html">Home</a>
            </li>
            <li>
              <a href="#" class="has-child no-link">Participation</a>
              <ul class="list-unstyled child-navigation">
                <!-- <li><a href="camera-ready-instructions.html">Camera-ready instructions</a></li> -->
                <li><a href="papers.html">Call for Papers</a></li>
              </ul>
            </li>
            <li>
              <a href="registration.html">Registration</a>
            </li>
            <li>
              <a href="#" class="has-child no-link">Program</a>
              <ul class="list-unstyled child-navigation">
                <li><a href="schedule.html">Symposium schedule</a></li>
                <!-- <li><a href="#">Accepted papers</a></li> -->
                <!-- <li><a href="#">Keynote</a></li> -->
                <!-- <li><a href="#">TBA</a></li> -->
                <!-- <li><a href="poster-schedule.html">Poster
                        schedule</a></li>
                <li><a href="accepted-papers.html">Accepted papers</a></li>
                <li><a href="accepted-posters.html">Accepted posters</a></li> -->
              </ul>
            </li>
            <li>
              <a href="#" class="has-child no-link">Organization</a>
              <ul class="list-unstyled child-navigation">
                <li><a href="officers.html">Organizing committee</a></li>
                <li><a href="program-committee.html">Program committee</a></li>
              </ul>
            </li>
            <li>
            	<a href="sponsors.html">Sponsors</a>
            </li>
            <li>
              <a href="#" class="has-child no-link">Venue</a>
              <ul class="list-unstyled child-navigation">
                <li><a href="location.html">Location</a></li>
                <!--<li><a href="accommodation.html">Accommodation</a></li>-->
              </ul>
            </li>
            <li>
              <a href="https://scfab.github.io/2022/">Past Event</a>
            </li>
          </ul>
        </nav><!-- /.navbar collapse-->
      </div><!-- /.container -->
    </header><!-- /.navbar -->
  </div><!-- /.primary-navigation -->
</div>
<!-- end Header -->
