<!-- START 4 column pricing table(equal height) -->

<div class="row pricing-table">
  <div class="col-md-3">
  <div class="plan">
    <div class="plan-name">
      <h4>Platinum Sponsor</h4>
      <span>USD $10,000 and above</span>
    </div>
    <ul style="padding:0;">
      <li class="plan-feature">Acknowledgment in press releases</li>
      <li class="plan-feature">Company logo on all large banners
          displayed at the conference venue</li>
      <li class="plan-feature">Company logo on conference posters as a
          Platinum sponsor</li>
      <li class="plan-feature">5 complimentary FAB'18
          registrations (approximate value $1000)</li>
      <li class="plan-feature">Full-page advertisement in the FAB'18
          program</li>
      <li class="plan-feature">Linked company logo on symposium website</li>
      <li class="plan-feature">An executive place in the Exhibition Area</li>
      <li class="plan-feature">Logo in home page</li>
      <li class="plan-feature">Option to sponsor, for an additional fee,
          an event (e.g., symposium dinner, workshop, award session,
          keynote session)</li>
    </ul>
  </div>
  </div>
  <div class="col-md-3">
  <div class="plan">
    <div class="plan-name">
      <h4>Gold Sponsor</h4>
      <span>USD $6,000</span>
    </div>
    <ul style="padding:0;">
      <li class="plan-feature">Company logo on all large banners
          displayed at the conference venue</li>
      <li class="plan-feature">Company logo on conference posters as a
          Gold sponsor</li>
      <li class="plan-feature">4 complimentary FAB'18
          registrations (approximate value $800)</li>
      <li class="plan-feature">Full-page advertisement in the FAB'18
          program</li>
      <li class="plan-feature">Linked company logo on symposium website</li>
      <li class="plan-feature">Acknowledgement as a Gold sponsor at the
	symposium dinner</li>
      <li class="plan-feature">An executive place in the Exhibition Area</li>
    </ul>
  </div>
  </div>
  <div class="col-md-2">
  <div class="plan">
    <div class="plan-name">
      <h4>Silver Sponsor</h4>
      <span>USD $3,000</span>
    </div>
    <ul style="padding:0;">
      <li class="plan-feature">Company logo on conference posters as a
          Silver sponsor</li>
      <li class="plan-feature">2 complimentary FAB'18
          registrations (approximate value $400)</li>
      <li class="plan-feature">Half-page advertisement in the FAB'18
          program</li>
      <li class="plan-feature">Linked company logo on symposium website</li>
      <li class="plan-feature">A table and chairs in the Exhibition Area</li>
    </ul>
  </div>
  </div>
  <div class="col-md-2">
  <div class="plan">
    <div class="plan-name">
      <h4>Bronze Sponsor</h4>
      <span>USD $1,000</span>
    </div>
    <ul style="padding:0;">
      <li class="plan-feature">Company logo on conference posters as a
          Bronze sponsor</li>
      <li class="plan-feature">1 complimentary FAB'18
          registration (approximate value $200)</li>
      <li class="plan-feature">Linked company logo on symposium website</li>
      <li class="plan-feature">A table and chairs in the Exhibition Area</li>
    </ul>
  </div>
  </div>
  <div class="col-md-2">
  <div class="plan">
    <div class="plan-name">
      <h4>Exhibition Area</h4>
      <span>USD $500</span>
    </div>
    <ul style="padding:0;">
      <li class="plan-feature">1 complimentary FAB'18
          registration (approximate value $200)</li>
      <li class="plan-feature">A table and chairs in the Exhibition Area</li>
    </ul>
  </div>
  </div>
</div>
<!-- END 4 column pricing table(equal height) -->
