<!-- Slider -->
<div id="slider">
  <div class="container">
    <div class="slider-wrapper">
      <div class="row">
        <div class="col-md-9 col-sm-12">
          <div class="row">
            <div class="image-carousel">
              <div class="slide">
                <div class="image-carousel-slide"><img
                    src="assets/img/usc_tommy_trojan.jpg"
                    style="width: 60%"></div>
              </div><!-- /.slide -->
            </div><!-- /.image-carousel -->
          </div><!-- /.row -->
        </div><!-- /.col-md-9 -->
        <div class="col-md-3 col-sm-12">
          <!-- <header>
            <h2>Schedule</h2>
            <h3 style="color:white"><a href="#Keynote">
                    Keynote</a></h3>
            <h4 style="color:white">9:15 AM - 10:15 AM
            </h4>
            <h3 style="color:white"><a href="#Technical Session 1">
                    Technical Session 1</a></h3>
            <h4 style="color:white">10:45 AM - 12:15 PM
            </h4>
            <h3 style="color:white"><a href="#Panel: Future of Blockchain">
                    Panel: Future of Blockchain</a></h3>
            <h4 style="color:white">1:30 PM - 2:30 PM
            </h4>
            <h3 style="color:white"><a href="#Technical Session 2">
                    Technical Session 2</a></h3>
            <h4 style="color:white">3:30 PM - 5:00 PM
            </h4>
          </header> -->
        </div><!-- /.col-md-3 -->

      </div><!-- /.row -->
    </div><!-- /.slider-wrapper -->
  </div><!-- /.container -->
</div>
<!-- end Slider -->
