<!-- Slider -->
<div id="slider">
  <div class="container">
    <div class="slider-wrapper">
      <div class="row">
        <div class="col-md-9 col-sm-12">
          <div class="row">
            <div class="image-carousel">
              <div class="slide">
                <div class="image-carousel-slide">
                    <img
                    src="assets/img22/berkeley.jpg"
                    style="width: 70%"></div>
              </div><!-- /.slide -->
            </div><!-- /.image-carousel -->
          </div><!-- /.row -->
        </div><!-- /.col-md-9 -->
        <div class="col-md-3 col-sm-12">
          <header>
            <h2> Sixth International Workshop on Foundations and
Applications of Blockchain 2024</h2>
<!--
            <h3 style="color:white"><a
                href="https://goo.gl/maps/HSsvzomQxwF2">
            </a></h3>
-->
            <h3 style="color:white"><a
                href="https://vldb.org/2024/">
                In conjunction with VLDB 2024
            </a></h3>
            <h3 style="color:white">August 30th, 2024</h3>
          </header>
        </div><!-- /.col-md-3 -->

      </div><!-- /.row -->
    </div><!-- /.slider-wrapper -->
  </div><!-- /.container -->
</div>
<!-- end Slider -->


