<ul class="topics-list">
    <li> Application use cases of blockchain </li>
    <li> Smart contracts design and security </li>
    <li> Oracle and oracle networks </li> 
    <li> Blockchain for social networking </li>
    <li> Distributed systems for blockchain </li>
    <li> Blockchain consensus protocols </li>
    <li> Proof of * systems </li> 
    <li> Governance and blockchain </li>
    <li> Partitioned and replicated data stores for blockchain </li>
    <li> Transaction processing </li>
    <li> Software engineering practices and life cycle management of blockchain </li>
    <li> Social and econonomic aspects of blockchain </li>
    <li> Game theory and its applications to blockchain </li>
    <li> Blockchain protocol analysis and security </li>
    <li> Algorithm design, complexity analysis, implementation for blockchain </li>
    <li> Experience papers with blockchain </li>
    <li> Energy consumption of blockchains </li>
    <li> Custody and decentralized identity solutions </li>
</ul>
