<ul class="topics-list">
    <li> Decentralized data management using blockchains </li>
    <li> Applications of blockchain in data management </li>
    <li> Distributed transaction processing </li> 
    <li> Data privacy and confidentiality in blockchains </li>
    <li> Partitioned and replicated data stores for blockchain </li>
    <li> Blockchain for social networking </li>
    <li> Distributed systems for blockchain </li>
    <li> Machine learning for blockchains </li>
    <li> Blockchain consensus protocols </li>
    <li> Proof of * systems </li> 
    <li> Governance and blockchain </li>
    <li> Software engineering practices and life cycle management of blockchain </li>
    <li> Social and econonomic aspects of blockchain </li>
    <li> Game theory and its applications to blockchain </li>
    <li> Blockchain protocol analysis and security </li>
    <li> Algorithm design, complexity analysis, implementation for blockchain </li>
    <li> Energy consumption of blockchains </li>
    <li> Smart contracts </li>
    <li> Custody and decentralized identity solutions </li>
</ul>